:root{
    --bordercol: var(--clr-panelbg);
    --bgcolor: var(--clr-bg);
    --textcol: var(--clr-text);
    --themecolor: var(--themecolor);
    --widthlimit: 900px;
}
*{
    box-sizing: border-box;
    transition: 0.3s ease-out;
}
body{
    background-color: var(--bgcolor) !important;
    color: var(--textcol);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.maincontent{
    display: flex;
    flex-direction: column;
    width: 96vw;
    min-height: 100vh;
    max-width: var(--widthlimit);
    position: relative;
}
.maincontent [data-role="headpart"]{
    /* background-color: red; */
    padding: var(--size-sm);
}
[data-role="headpart"] .searchbox input{
    padding: 12px 16px;
    width: 100%;
    background-color: transparent;
    color: var(--textcol);
    border: 1px solid var(--bordercol);
}
[data-role="headpart"] .searchbox input:focus{
    border-color: var(--themecolor);
    outline: none;
}

[data-role="fyllinks"]{
    padding: var(--size-sm);
    display: flex;
    flex-direction: column;
    margin: 0 0 64px 0  ;
}
[data-role="fyllinks"] a{
    padding: 12px;
    display: inline-block;
    border-bottom: 1px solid var(--bordercol);
}
[data-role="fyllinks"] a:last-child{
    border: none;
}
[data-role="fyllinks"] a:hover{
    color: var(--themecolor);
    border-color: var(--themecolor);
}

[data-role="options"]{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
[data-role="options"] .stuff{
    width: 96vw;
    max-width: var(--widthlimit);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-image: linear-gradient(90deg,transparent,var(--bgcolor)); */
    background-color: var(--bgcolor);
    border-top: 1px solid var(--bordercol);
}
[data-role="options"] .stuff>*{
    pointer-events: all;
}